[submodule "submodules/aseprite/aseprite"]
	path = submodules/aseprite/aseprite
	url = https://github.com/aseprite/aseprite
[submodule "submodules/bats-core/bats-core"]
	path = submodules/bats-core/bats-core
	url = https://github.com/bats-core/bats-core
[submodule "submodules/ztombol/bats-support"]
	path = submodules/ztombol/bats-support
	url = https://github.com/ztombol/bats-support
[submodule "submodules/ztombol/bats-assert"]
	path = submodules/ztombol/bats-assert
	url = https://github.com/ztombol/bats-assert
